/*  
Nome: Raphael Machado Ferreira
RM: 550686
Turma: 1ESOA | 2023 
Atividade - Capítulo 5 - Fase 1
*/

/* //////////////////////////////////////////////////////////// */
/* BLOCO DJI INSPIRE 1 */

/* bloco do DJI Inspire 1 */
#djiinspire1{
    display: flex;
    flex-direction: column;
    border: 1px solid #1b8e99;
    width: 300px;
    height: 376px;
}

    /* título "DJI Inspire 1" */
    .titulo_inspire h4{
        text-align: center;
        font-family: Tahoma;
        color: #1b8e99;
        font-size: 12px;
        background-color: #1b8e9929;
        margin: 3px 5px;
        padding: 5px;
    }

    /* Imagem do DJI Inspire 1 */
    .imagem_inspire{
        display: flex;
        width: 279px;
        height: 164px;
        margin: auto;
    }

    /* Descrição do produto */
    .texto_adicional{
        text-align: justify;
        color: #1b8e99;
        font-family: tahoma;
        font-size: 13px;
        padding: 10px;
        text-align: left;
    }

    /* div dos valores (conteiner com preços e imagem de carrinho) */
    .valores_inspire{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #1b8e99;
        margin-top: auto;
        height: 96px;
        justify-content: space-between;
    }

        /* Texto com o valor de R$8.000,00 */
        .valores_inspire span{
            align-items: center; /* Meio do eixo perpendicular */
            display: flex;
            flex-grow: 1;
            font-family: tahoma;
            color: white;
            font-size: 30px;
            padding-left: 10px;
        }

        /* Imagem do carrinho na aba de compras */
        .carrinho{
            order: 1;
            display: flex;
            width: 56px;
            height: 52px;
            background-color: white;
            border-radius: 5px;
            padding: 5px;
            justify-content: center;
            margin: auto;
            margin-right: 10px;
            margin-top: 13px;
        }

        /* Texto das parcelas */
        .parcelas{
            order: 2;
            margin-top: -22px;
            flex-shrink: 1;
            font-size: 14px;
            font-family: tahoma;
            color: #ffffffcc;
            padding-left: 15px;
        }
    
    /* Hover da tabela de valores */
    .valores_inspire:hover{
        border-radius: 5px;
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
    } 

/* Hover de todo o conteiner */
#djiinspire1:hover{
    transform: scale(1.06);
    transition: all 0.2s ease-in-out;
}

/* FIM DO BLOCO DJI INSPIRE 1 */
/* //////////////////////////////////////////////////////////// */
